<section class="filter-wrapper">
  <div class="keyword-wrapper">
 <input [formControl]="queryField" type="text" id="keyword" placeholder="search for movies..." autofocus/>
   </div>
 <ul class="filter-select">
   <li *ngFor="let result of results | slice:0:5" class="filter-select-list">
     <a [routerLink]="['/details/',result.imdbID]">
      <div *ngIf="result.Type === 'movie'" >
          <img src="{{result.Poster}}" alt="" width="50" height="50">
          <p class="movie-name">{{result.Title}}</p>
      </div>
     </a>
 </ul>
 </section>
